*{margin:0;padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
ul ,ol{list-style:none; padding:0; margin:0;}
a{text-decoration:none;}
em {font-style:normal;}
img{outline:none; border:none;}
body{font-family:"FZLanTingHei-L-GBK","Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;}
.padBox{padding-bottom:60px;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.gossipHt,.gossipCt,.discuz {width:100%;margin:0 auto;}
.gossipWid {width:100%;margin:15px auto 0;}
.gossipHt{width:94%;height:42px;line-height:42px;color:#afb7c2;font-size:0.9em;}
.gossipHt p{width:50%;height:42px;overflow:hidden;float:left;}
.gossipHt p:first-child {width:50%;}
.gossipCt{width:94%;color:#6e747b;font-size:1.0em;margin:0 auto;}
.gossipCt p{width:100%;line-height:26px;margin:0 auto;font-size:16px;color:#081424;}
.gossipCt img {display:block;max-width:90%;margin:0 auto;}
.gossipCt .twoCols li{width:49.5%;}
.gossipCt .threeCols li{width:33%;}
.gossipCt .twoCols li, .gossipCt .threeCols li {
	float:left; 
	box-sizing:border-box;
	padding:0 6px 6px 0;
}
.gossipCt .twoCols img, .gossipCt .threeCols img {max-width:none;}
.gossipFun {width:94%;padding-top:20px; margin:0 auto;}
.gossipFun li{width:40%;height:35px;line-height:35px;float:left;color:#686f78;}
.gossipFun li:first-child {font-size:12px;}
.gossipFun li:nth-child(2){width:60%;text-indent:50px;float:right;}
.gossipFun li a {display:block;height:35px;float:left;background:url(../images/mobileDb2.png) no-repeat;background-size:18px 93px;font-size:0.8em;color:#afb7c2;}
.gossipFun li a:first-child  {width:26%;background-position:28px 8px;}
.gossipFun li a:nth-child(2) {width:26%;background-position:28px -42px;padding-left:2px;}
.gossipFun li a:nth-child(3) {width:45%;background-position:28px -68px;padding-left:2px;}
.discuz {background:#fff;padding:10px 0 0;border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2;}
.discuz li{width:94%;border-bottom:1px solid #e2e2e2;margin:0 auto;padding:8px 0;position: relative;word-break:break-all;word-wrap:break-word;}
.discuz li:last-child {border-bottom:none;}
.discuz li .praise {width:47px;height:50px;text-align:center;line-height:75px;font-size:12px;color:#aaa;position:absolute;top:5px;right:0;background:url(../images/mobileDb2.png) no-repeat;background-size:18px 93px;background-position:15px 8px;} 
.discuzList dt{width:52px;float:left;height:40px;}
.discuzList dt img {width:40px;height:40px;}
.discuzList dd {width:70%;float:left;color:#afb7c2;font-size:0.9em; line-height:20px;}
.discuzList dd span {color:#afb7c2;}
.discuzList dd:nth-child(3) {padding-top:5px;font-size:0.9em;}
.discuzTit{
	background:#ffffff url(../images/helpBg.png) no-repeat left center;
	background-size:9px 21px;
	line-height:36px;
	font-size:14px;
	padding-left:16px;
}
.referral, .openApp  {width:100%;height:45px;line-height:45px;margin:10px auto 0;background:#21bbfc;color:#fff;font-size:1.0em;text-align:center;cursor:pointer;position:fixed;left:0;bottom:0;z-index:2;}
.openApp:link, .openApp:visited, .openApp:hover, .openApp:active {color:#fff;}
.down {width:100%;height:68px;background:#edf1f7;position:relative;margin-bottom:15px; border-bottom:1px solid rgba(198,207,220,0.8)}
.down .downLeave {width:92%;margin:0 auto;padding-top:12px;}
.down .downLeave dt {width:15%;float:left;}
.down .downLeave dt img {width:45px;height:45px;}
.down .downLeave dd {float:left;width:60%;color:#999;font-size:0.6em;}
.down .downLeave dd:nth-child(2) {color:#333;font-size:1.0em; padding:3px 0 8px;}
.down .downLeave dd img {width:10px;height:10px;}
.down .downLeave .downSlogan img {width:164px;height:17px;}
.down .downBtn {display:block;width:69px;height:26px;line-height:26px;text-align:center;font-size:12px;border-radius:3px;background:#21bbfc;color:#ffffff;position:absolute;top:24px;right:4%;}
/* .force {text-align:right;} */
.discuzList .contentcolor {color:#081424;}
header {height:44px;background:url(../images/hdbg.png) repeat-x;background-size:4px 44px;overflow:hidden;}
.turn {width:148px;height:28px;margin:6px auto 0;background:#000;font-size:12px;}
.turn a {display:block;float:left;width:70px;height:24px;line-height:24px;border-left:1px solid #000;text-align:center;color:#fff;margin-top:2px;margin-left:2px;}
.turn a.current {background:#3399ff;border-left:1px solid #2a7ed2;}

/*content*/
section {background:url(../images/bodybg.png) repeat;overflow:hidden;}
.inforList dt {width:70px;height:70px;float:left;padding-left:13px;margin-top:-25px;}
.inforList dt img{width:70px;height:70px;}
.inforList dd {width:70%;float:left;font-size:0.9em;color:#999;padding-left:5px;}
.inforList dd.inforTit {height:20px;line-height:20px;padding-top:6px;}
.inforList dd.inforTit strong {font-size:1.2em;font-weight:normal;color:#081424;padding-right:10px;}
.inforList dd.inforTit em {color:#e84437;}
.inforList dd.inforTag {width:100%;padding-left:5px;padding-right:5px;}
.inforList dd.inforEdu {font-size:0.9em;height:24px;line-height:24px;}
.magTips {width:149px;height:25px;background:url(../images/message.png) no-repeat;background-size:149px 25px;margin-top:20px;}
.dialog {margin-top:0px;}
.dialog .dialogDl {width:95%;margin:0 auto;border-bottom:1px solid #dddddd;padding:15px 0;}
.dialog .dialogDl:last-child {border-bottom:none;}
.dialogDl .dialogImg {width:68px;height:84px;position:relative;float:left;}
.dialogDl .dialogImg a {display:block;width:50px;height:50px;float:right;position:relative;}
.dialogDl .dialogImg .circleBg {width:83px;height:83px;background:url(../images/circle.png) no-repeat;position:absolute;left:0;top:0;}
.dialogDl .dialogImg a img {width:50px;height:50px;border-radius:50px;}
.dialogDl .dialogImg .dotNews {display:block;width:8px;height:8px;background:url(../images/news.png) no-repeat;background-size:8px 8px;position:absolute;left:5px;top:22px;}
.dialogDl dd {float:left;}
.dialogDl .dialogEdu,.dialogDl .dialogName {width:70%;padding-left:14px;font-size:0.8em;color:#999;overflow:hidden;}
.dialogDl .dialogName strong {font-size:22px;color:#081424;font-weight:normal;padding-right:8px;}
.dialogDl .dialogName em {color:#e84437;}
.dialogDl .dialogEdu {height:20px;line-height:20px;}
.dialogDl .message {width:75%;margin-top:5px;position:relative;}
.messageL {width:6px;height:40px;float:left;background:url(../images/dialogleft.png) no-repeat left 20px;background-size:6px 8px;}
.messageC {float:left;max-width:130px;padding:20px;background:#1f9bf6;font-size:1.2em;color:#fff;position:relative;border-radius:20px;}
.messageC p {word-break : break-all;}
.messageC em{display:block;width:14px;height:9px;position:absolute;}
.messageR {background:#939395;padding:5px 6px;color:#fff;position:absolute;right:0;bottom:0;font-size:0.1em;border-radius:8px;}
.messageR em {display:block;width:12px;height:14px;position:absolute;}
footer {height:55px;background:#d7dad9;}
.dowList {width:95%;margin:0 auto;}
.dowList li {float:left;}
.dowList li:first-child {margin-top:12px;}
.dowList li:nth-child(2) {line-height:55px;font-size:1em;color:#2b2b2e;padding-left:10px;}
.dowList li:last-child {float:right;margin-top:12px;}
.dowList img {width:33px;height:33px;}
.dowList li a {display:block;width:88px;height:32px;line-height:32px;text-align:center;text-indent:20px;font-size:0.9em;color:#fff;background:#1f9bf6 url(../images/downarrow.png) no-repeat 10px center;background-size:13px 15px;border-radius:10px;}
/*end content*/
.greybackground {position:fixed;left:0;top:0;width:100%;height:100%;overflow:hidden;_position:absolute;z-index:4;background:rgba(0,0,0,1);display:none; text-align:center;}
.greybackground a{display:table-cell;vertical-align:middle;width:100%;height:100%;}
*+html .greybackground a{position:absolute;top:50%;width:100%;text-align:center;height:auto;}
*+html .greybackground a img{position:relative;top:-50%;left:-50%;}
.greybackground a img{margin:0 auto;max-width:100%;max-height:100%;}
.wFloat {width:90%;position:fixed;_position:absolute;left:20px;top:100px;z-index:99999;overflow:hidden;display:none;}
.wFloat .downs {width:98%;background:#fff;margin-top:16px;overflow:hidden;}
.wFloat .downs p {width:100%;margin:0 auto;text-align:center;font-size:18px;color:#081424;margin-top:25px;}
.wFloat .downs p em {color:#008be6;}
.wFloat .downs a {display:block;width:85%;height:45px;margin:0 auto;line-height:45px;font-size:20px;text-align:center;color:#fff;text-indent:30px;}
.wFloat .downs a.downI {background:#008be6 url(../images/apple.png) no-repeat 16% center;background-size:25px 28px;margin-top:20px;}
.wFloat .downs a.downI:hover {background:#008be6 url(../images/apple.png) no-repeat 16% center;background-size:25px 28px;}
.wFloat .downs a.downA {background:#008be6 url(../images/google.png) no-repeat 16% center;margin-top:10px;background-size:25px 28px;margin-bottom:8px;}
.wFloat .downs a.downA:hover {background:#008be6 url(../images/google.png) no-repeat 16% center;background-size:25px 27px;}
.wFloat .close {width:100%;height:50px;line-height:50px;text-align:center;border-top:1px solid #d0d0d0;font-weight:bold;overflow:hidden;color:#4065ac;cursor:pointer;}
.wFloat .contactMe {width:98%;height:220px;background:#fff;margin-top:16px;overflow:hidden;}
.wFloat .contactMe p {height:21px;line-height:21px;font-size:0.9em;padding-left:30px;margin-bottom:10px;}
.wFloat .contactMe p.reminder {padding-top:18px;}
.wFloat .contactMe p.sendEmail {font-size:0.9em;padding-left:55px;background:url(../images/email.png) no-repeat 25px center; background-size:21px 21px;}
.wFloat .contactMe p.sendEmail span {color:#01a1ff;}
.wFloat .contactMe p.leaveContact {font-size:0.9em;padding-left:55px;background:url(../images/phoneIcon.png) no-repeat 25px center;background-size:21px 21px;}
.inputList {padding-left:55px;text-indent:5px;font-size:0.8em;color:#999;}
.inputList a {color:#999;}
.inputList .selectList {float:left;width:66px;height:24px;font-size:0.9em;border:2px solid #c0c5c6;line-height:24px;background:#e1e4e4 url(../images/arrowBottom.png) no-repeat 50px center;background-size:9px 7px;position:relative;cursor:pointer;}
.inputList .selectList .dropDown {position:absolute; width:66px; background:#fff;left:-2px;top:24px;border:2px solid #c0c5c6;display:none;}
.inputList .selectList .dropDown li {height:33px;line-height:33px;}
.inputList .selectList .dropDown li a {display:block;height:29px;width:66px;margin:2px auto 0;}
.inputList .selectList .dropDown li a:hover {background:#e1e4e4;}
.contactWay {float:left;width:100px;height:24px;font-size:0.9em;border:2px solid #C0C5C6;margin-left:6px;text-indent:4px;}
.wFloat .contactMe p.warn {width:110px;height:23px;line-height:23px;text-align:left;float:left;font-size:0.9em;color:#EE382A;padding-left:75px;margin-bottom:0;}
.floatToot {height:50px;background:#f3f3f1;margin-top:10px;overflow:hidden;}
.floatToot a {display:block;width:50%;height:50px;float:left;line-height:50px;text-align:center;color:#3764a7;font-size:1.2em;}
.floatToot a.cancel {background:url(../images/border.png) repeat-y left top; }
.tips {width:60%;height:35px;line-height:55px;overflow:hidden;position:absolute;z-index:99999;text-indent:40px;background:#fff url(../images/Succeed.png) no-repeat 10px center;background-size:21px 22px;border:1px solid #a0a0a0; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; -moz-box-shadow:0 0 10px #777; -webkit-box-shadow:0 0 10px #777; box-shadow:0 0 10px #777; border:5px solid #dfdfdf \9;  font-size:0.8em;}
/*profession*/
.graybg1{background:#eeeeee;}
.gossipInfor{padding:0 0 50px;}
.cardInfor {padding:13px 0 50px;}
.head {background:#fff; margin:0 7px 20px; border:1px solid #d0d4d6; box-shadow:2px 2px 0px #dcdcdc;}
.gossipInfor .head{border:none;  box-shadow:none;}
.headinfor {margin:0 9px;padding:10px 0 15px;color:#333; position:relative;}
.headinfor  dt {width:54px; height:54px; float:left; margin-top:4px;}
.headinfor  dt a{width:54px; height:54px; display:table-cell; vertical-align:middle;}
.headinfor  dt img {max-width:54px;max-height:54px; border-radius:3px;}
.headinfor .tit {font-size:15px;font-weight:bold; color:#333;}
.headinfor dd {width:77%;float:left; line-height:16px; font-size:14px;margin:4px 0 0 11px; color:#686c6f;}
.connectWay {padding:0 0 15px;}
.connectWay dt{float:none;margin-top:0;}
.connectWay dd{float:none; margin:4px 0 0 0; color:#333;}
.headinfor .companyLogo{position:absolute; right:0; bottom:12px;}
.friends {width:90%; margin:0 auto; cursor:pointer;}
.friends h2 {font-size:12px;color:#999;padding:12px 0 10px 0;font-weight:normal;}
.contactInfor .pepTips:first-child {width:100%;}
.contactInfor{background:#fff;}
.pepTips {width:100%; height:24px;line-height:24px;text-indent:10px;font-size:14px;color:#333;padding:5px 0;}
.gossipInfor .pepTips{background:#f0f0f0;}
.commonFrd {width:100%;display:table;height:33px;line-height:33px;font-size:12px;background:#ececec url(../images/arrow.png) no-repeat 95% center;background-size:11px 14px;border:2px solid #c0c5c6;}
.commonFrd label {width:20%;float:left;padding-left:10px;text-align:left;color:#081424;}
.commonFrd p {width:65%;float:left;color:#1f9bf6;text-align:right;}
.jobInforList {width:100%;margin:0 auto;border-bottom:1px solid #f0f0f0;background:#fff;}
.jobInforList li {width:100%; line-height:20px; padding:12px 0;text-indent:14px;background:#fff;overflow:hidden;font-size:14px;text-align:right;border-top:1px solid #f0f0f0;}
.jobInforList li label{box-sizing:border-box;width:30%; float:left; vertical-align:middle;padding-left:24px;text-align:left;text-indent:0;}
.jobInforList li p {box-sizing:border-box;width:70%; float:right; box-sizing:border-box; vertical-align:middle;padding-right:38px;color:#999;}
.jobInforList li p.friends {color:#4d7c98;}
.jobInforList li p.releaseMail a{color:#4d7c98;}
.jobInforList li:first-child {border-top:none;}
.sellList li {text-align:left;}
.sellList li.best {box-sizing:border-box;background:url(../images/sell1.png) no-repeat 26px center;background-size:20px 20px;text-indent:0; padding-left:54px;}
.sellList li.general {background:url(../images/sell2.png) no-repeat 26px center;background-size:20px 20px;text-indent:0; padding-left:54px;}
.describe {width:100%;margin:0 auto;display:table;background:#fff;}
.describe p {font-size:14px; line-height:20px; color:#999;padding:20px 20px 20px 10px;border:1px solid #f0f0f0;}
.contactBtn {width:100%;margin-top:14px;position:fixed;left:0;bottom:0;z-index:999;}
.contactBtn a {display:block;width:50%;height:50px;line-height:50px;background:#396fc9;color:#fff;float:left;text-align:center;}
.contactBtn a.email {width:100%; background:#00baff;background-size:1px 40px;font-size:16px;}
.contactBtn a.openApp, .contactBtn a.openApp2 {width:100%; background:#00baff; color:#fff;}
.contactBtn a.meaasge {background:#00baff;float:right;font-size:16px;}
.jobContact {width:100%;padding:10px 0 14px;position:fixed;bottom:0;left:0;}
.jobContact a {display:block;width:50%;background:#00baff;height:50px;line-height:50px;color:#fff;float:left;text-align:center;}
.jobContact a.noThink {background:#ee382a url(../images/border2.png) no-repeat top right;background-size:1px 40px;font-size:16px;}
.jobContact a.yesThink {background:##008be6;float:right;font-size:16px;}
.sendEmails {display:block;width:90%;height:60px;margin:0 auto;line-height:60px;background:#008be6;font-size:20px;text-align:center;color:#fff;text-indent:30px;margin-bottom:10px;}
.resumes {background:#fff;}
.resumes .resumetxt {width:90%;margin:0 auto;height:40px;line-height:40px;font-size:18px;}
.resumes .resume {width:90%;margin:0 auto;font-size:18px;color:#4065ac;padding:5px  0 15px 0;}
.resumes .sendEmail {margin-bottom:8px;}
/*invitation*/
.helpTips {width:60%;height:24px;line-height:25px;text-indent:10px;background:#1f9bf6 url(../images/mobileArrow.png) no-repeat right top;background-size:15px 24px;font-size:1em;color:#fff;margin-top:10px;overflow:hidden;padding-right:15px;}
.candidate {width:95%;height:80px;margin:10px auto 0;border:2px solid #c0c5c6;background:#fff;overflow:hidden;}
.candidate dt {width:50px;height:50px;margin:15px  0 0 9px;float:left;}
.candidate dt img {width:50px;height:50px;}
.candidate dd {width:75%;float:left;padding-left:10px;}
.candidate dd.tit {font-size:1em;padding-top:13px;}
.candidate dd.place {font-size:0.8em;color:#999;}
.candidate dd.place  span {padding-right:5px;}
.candidate dd.place  span.monPay {color:#e84437;}
.candidate dd.issuer {font-size:0.8em;color:#999;}
.buddy {width:95%;background:#fff;margin:9px auto 0;overflow:hidden;}
.buddy  h2 {width:90%;padding:10px 0;margin:0 auto;font-weight:normal;border-bottom:2px solid #e7e7e7;font-size:0.8em;color:#7d8182;}
.buddy li {width:90%;height:46px;margin:0 auto;border-bottom:2px solid #e7e7e7;cursor:pointer;}
.buddy li.notSlected {background:url(../images/notSelected.png) no-repeat left center;background-size:20px 20px;}
.buddy li.yesSlected {background:url(../images/yesSelected.png) no-repeat left center;background-size:20px 20px;}
.buddy li dt.avatar {width:36px;height:36px;float:left;padding:5px 5px 0 25px;}
.buddy li dt.avatar img  {width:36px;height:36px;}
.buddy li dd {float:left;}
.buddy li dd.buddyName {width:30%;height:45px;line-height:45px;color:#081424;font-size:0.8em;font-weight:bold;}
.buddy li dd.company {width:45%;height:45px;line-height:45px;color:#999;font-size:0.6em;overflow:hidden;}
.sendBuddy {display:block;width:90%;height:30px;line-height:30px;text-align:center;margin:23px auto 15px;background:#1f9bf6;color:#fff;font-size:1.2em;border-radius:5px;}
.sendBuddyNotLogin {display:block;width:90%;height:30px;line-height:30px;text-align:center;margin:23px auto 15px;background:#1f9bf6;color:#fff;font-size:1.2em;border-radius:5px;}


/*contacts*/
.jobInfor .tags {width:90%; margin:0 0 13px 22px; padding-top:7px; max-height:108px; overflow:hidden;}
.jobInfor .tags span {display:inline-block;background:#008be6;font-size:14px;margin:6px 3px 0 3px;padding: 6px 6px;color:#fff;position:relative;}
.jobInfor .tags span.little {padding:6px 40px 6px 6px;}
.jobInfor .tags span.little em {background:#4daeee;padding:6px 8px;position:absolute;top:0;right:0;}
.jobInfor .tags span.lot {background:#ffa200;padding:6px 40px 6px 6px;}
.jobInfor .tags span.lot em {background:#ffbe4d;padding:6px 8px;position:absolute;top:0;right:0;}
.jobInfor .tags span.thanNine {padding:6px 48px 6px 6px;}
.contactList{border-bottom:1px solid #eeeeee;}
.contactList li label{width:60%;display:inline-block; float:left; } 
.contactList li p{width:35%;display:inline-block; float:right; box-sizing:border-box; white-space:nowrap;}
.contactList li .jobDetail{clear:both;color:#999; padding:0 24px; text-indent:0; text-align:left; font-size:13px;}
.contactList li .jobDescr{padding-top:6px;}
.contactList li a {color:#4d7c98;}
.jobInforList li .ability {color:#4d7c98;}
.jobInforList li .praise {color:#aaa;}
.discussList {width:100%;box-sizing:border-box;background:#eee;padding:6px 0;overflow:hidden;}
.discussList li{width:95%;border:0; line-height:20px;padding:6px 4px 0 4px;background:#eee;text-indent:0px;margin-left:2%;}
.discussList li span {color:#4d7c98;}
.discussList li span a {color:#4d7c98;}
.jobInforList li .discussBg {width:120px;height:19px;background:#fff url(../images/discuzArrow.png) no-repeat 40px bottom;background-size:22px 15px;}
.jobInforList .abilityBg {background:url(../images/favour.png) no-repeat 7px 12px; background-size:24px 24px;width:87%;padding-left:32px;}
.jobInforList .praiseBg {background:url(../images/diffuse.png) no-repeat 7px 12px;background-size:24px 24px;width:87%;padding-left:32px;}
.jobInforList .discussion {background:url(../images/discuss.png) no-repeat 7px 12px;background-size:24px 24px;width:87%;padding-left:32px;}
.sellList li.heartenList {width:100%;margin-left:0px;padding:0;}
.hearten a{width:33%;display:block;height:30px;line-height:30px;float:left;text-indent:60px;color:#686f78;position:relative;}
.hearten a p {width:1px;height:30px;background:url(../images/border3.png) no-repeat right top;background-size:1px 30px;position:absolute;top:0;right:0;}
.hearten .left {background:url(../images/ding.png) no-repeat 30px center;background-size:21px 19px;}
.hearten .center {background:url(../images/kuo.png) no-repeat 30px center;background-size:21px 19px;}
.hearten .right {width:34%;background:url(../images/ping.png) no-repeat 30px center;border-right:0;background-size:21px 19px;}
.sellList  li  .pingNull {width:auto; margin-left:0;text-indent:12px; padding-right:16px;} 
.exchange {display:block;width:100%;height:50px;line-height:50px;text-align:center;font-size:18px;background:#008be6;color:#fff;margin-top:8px;position:fixed;bottom:0;left;:0;z-index:999;}
.jobInforList li.arrow {text-indent:14px;background:#fff url(../images/listarrow.png) no-repeat 97% 15px; background-size:12px 12px;}

/*动态详情页*/
.trendBox{width:94%; padding-top:15px; margin:0 auto;}
.trendAuthor a, .trendAuthor img, .trendAuthor span {display:block; float:left;}
.trendAuthor img{width:30px; height:30px; margin-right:13px;}
.trendAuthor a{color:#5477a7; }
.trendAuthor span{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-top:2px; 
	margin-left:5px;
	font-size:12px; 
	color:#798b9a;
}
.trendCon .trendText{
	line-height:26px;
	margin-left:44px;
	font-size:16px; 
	color:#081424;
}
.trendCon .trendText img{display:inline-block;}
.trendCon .trendText .twoCols li{width:49.5%;}
.trendCon .trendText .threeCols li{width:33%;}
.trendCon .trendText .twoCols li, .trendCon .trendText .threeCols li {
	float:left; 
	box-sizing:border-box;
	padding:0 6px 6px 0;
}
.trendCon .trendText .twoCols img, .trendCon .trendText .threeCols img {margin:0 0;}
.trendInfo{margin-top:10px;color:#afb7c2;}
.trendInfo p, .trendInfo .trendOperat {color:#afb7c2; font-size:13px;}
.trendInfo p{width:45%;}
.trendInfo .trendOperat{width:55%;}
.trendInfo p{float:left; height:24px; line-height:24px; }
.trendInfo .trendOperat{float:right;}
.trendInfo .trendOperat a{
	display:block; 
	float:right; 
	width:33%; 
	height:24px; 
	line-height:24px; 
	color:#afb7c2;
}
.trendInfo .good,.trendInfo .share,.trendInfo .discuss {width:30%;}
.trendOperat .good , .trendOperat .share, .trendOperat .discuss {text-indent:24px;}
.trendShare .good, .trendOperat .good {background:url(../image/ding.png) no-repeat left 1px; background-size:21px 19px;}
.trendOperat .goodY{background:url(../images/dingY.png) no-repeat left 1px; background-size:21px 19px;}
/* .trendShare .share, .trendOperat .share {background:url(../images/kuo.png) no-repeat left 2px; background-size:21px 19px;} */
.trendOperat .shareY{background:url(../images/kuoY.png) no-repeat left 2px; background-size:21px 19px;}
.trendShare .discuss, .trendOperat .discuss {background:url(../image/ping.png) no-repeat left 2px; background-size:21px 19px;}
.trendShare .good, .trendShare .share, .trendShare .discuss {padding-left:26px;}
.trendDiscuss .discussBg{ 
	height:14px;
	background:#fff url(../image/discuzArrow.png) no-repeat 88% top;
	background-size:22px 15px;
}
.trendDiscuss  .trendShare{
	padding:20px 0 20px 15px;
	color:#999; 
	line-height:24px; 
	background:#eee;
	font-size:14px;
}
.trendDiscuss  .trendShare a{color:#5477a7;}
.trendDiscuss  .trendShare .discuss{color:#333;}
.trendDiscuss  .trendShare .discuss li a{color:#5477a7;}
.talentSkill{color:#999; line-height:22px; font-size:16px; margin:16px 0 0 45px;}
.talentSkill span{margin-right:8px;color:#333;}
.discussMore{color:#4d7c98}
.emoji, img.emoji {
	display:inline-block;
    height: 20px;
    width: 20px;
}
/*左右两端列表*/
.endsList{
	width:100%;
	margin:15px auto 0;
	border-top:1px solid #f0f0f0;
	background:#fff;
	color:#333333;
	padding-bottom:46px;
}
.endsList li{
	width:100%;
	padding:18px 0; 
	line-height:20px;
	overflow:hidden;
	border-bottom:1px solid #f0f0f0;
}
.endsList label{
	box-sizing:border-box;
	width:30%; 
	float:left; 
	vertical-align:middle;
	padding-left:15px;
	text-align:left;
	font-size:18px;
}
.endsList .rightText{
	box-sizing:border-box;
	width:70%; 
	float:right; 
	padding-right:30px;
	color:#999999;
	font-size:14px;
}
.endsList .rightText p{float:right; text-align:left;}
span.addv {
    line-height: 20px;
	padding-right:16px;
    background:url(../images/addv.png) no-repeat right center;
	background-size:14px 14px;
}